# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# System files
.DS_Store
Thumbs.db

# Optional: VSC config
.vscode/

# Optional: Mac/Linux trash
.Trashes
